.header {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #0A8323;
}
.header > div {
    display: flex;
}
.header .header--item:not(:last-child) {
    margin-right: 15px;
}
.header--item {
    padding-left: 30px;
    padding-right: 30px;
}
